@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
}
.calculator{
  width: 50%;
  height: auto%;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 .4rem hsla(249, 10%, 26%, .25);
  transform: translate(50%,40%);
  background: yellow;
  margin-top: 10px;
  border-radius: 10px;
}
.calculator h1{
  text-align: center;
  text-decoration: underline;
}